# =========================
# 1. Data and Models (CRITICAL)
# =========================
# We ignore heavy folders to avoid GitHub blocks
data/
data/*
data/raw/
data/preprocessed/
data/predictions/
models/

# Heavy extensions just in case they escape their folders
*.nii
*.nii.gz
*.npy
*.npz
*.pth
*.pt
*.bin
*.safetensors

submission_test.zip

# =========================
# 2. Environments and Credentials
# =========================
# Your environment variables file (NEVER uploaded to GitHub)
.env

# The context folder and agent instructions
.agents/*
!.agents/shared/
!.agents/AGENTS.md


.vscode

# IDE configuration files (optional, but commonly ignored)
*.code-workspace

# Virtual environments (conda, venv)
voxtell_env/
.venv/
.venv-voxtell/
venv/
env/


# Bash scripts used to run in SLURM
bash_scripts/

# =========================
# 3. Cache and Logs
# =========================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
slurm-out

# Training logs (Weights & Biases, TensorBoard, etc.)
wandb/
logs/*
!logs/phase_1_data_profiling/
!logs/phase_2_inference_audit/
!logs/phase_3_fine_tuning/
checkpoints/
nohup.out
screenlog.0